
    <!-- llamo la propiedad y cada punto de el, para que me arroje el valor -->
<div class="nav-ppal">

            <img class="logo" src="{{nav.logo.src}}" alt="{{nav.logo.alt}}">            
            
                <a href="">Home </a>
                <a href="">Tv Shows </a>
                <a href="">Movies</a>
                <a href="">New & Popular </a>
                <a href="">My List</a>
    
            <img src="../../../../assets/images/Icons/zoom-32.png" alt="Notificación">
            <img src="../../../../assets/images/Icons/bell-3-32.png" alt="Buscador">         
            <img class="usuario" src="../../../../assets/images/Icons/hulk_PNG83.png" alt="Usuario">

</div>

